<html>
<head>
<title>Stroop</title>
<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.svg.package-1.3.2/jquery.svganim.js"></script>
<script type="text/javascript" src="/static/js/jquery.svg.package-1.3.2/jquery.svg.js"></script>
<script type="text/javascript" src="/static/js/JSON.js"></script>
<script type="text/javascript" src="/static/js/logger.js"></script>
<script type="text/javascript">
    function ControlGame(file){
        this.trials = $.map(file.trials, function(obj, idx){ obj.idx = idx; return obj; });

        this.max_incorrectas = file.max_incorrectas;
        var trial_idx = 0,
            checkpoint = 0;

        this.trial_idx = function(){
            return trial_idx;
        }

        this.current_trial = function(){
            return this.trials[trial_idx];
        }

        this.next_trial = function(){
            if(trial_idx+1 < this.trials.length){
                trial_idx++;
                if(this.current_trial().checkpoint){
                    checkpoint = trial_idx;
                }
                return true;
            }else{
                return false;
            }
        }

        this.goto_last_checkpoint = function(){
            trial_idx = checkpoint;
        }
        
        this.reset = function(){
            trial_idx = 0;
            checkpoint = 0;
        }
    }

    function ScoreKeeper($score_div, total_trials){
        this.total_trials = total_trials;
        this.div = $score_div;
        this.set_score = function(current_trial, checkpoint){
            this.div.animate({width: current_trial/this.total_trials * 100+"%"}, 300);
            if(checkpoint){
                this.div.html('Checkpoint at:'+current_trial);
            }
        }
        this.reset = function(){
            this.div.html('');
            this.set_score(0);
        }
    }

    function show_message($div, text, callback){
        $div.html(text).fadeIn();
        setTimeout(function(){
            $div.fadeOut();
            callback && callback();
        },2000);
    }

    var game_file = {'max_incorrectas':1,
                     'trials': [{kind:'forward', time:5000},
                               {kind:'inverse', time:5000},
                               {kind:'forward', time:4500},
                               {kind:'inverse', time:4500},
                               {kind:'forward', time:4900, checkpoint: true},
                               {kind:'inverse', time:4900},
                               {kind:'forward', time:4700},
                               {kind:'inverse', time:4200, checkpoint: true}]};
    
    $(function(){
        var LEFT_KEY = 97,//a
            RIGHT_KEY = 108,//l
            RESTART_KEY = 114,
            $juez = $('div#juez'),
            $flecha = $('div#flecha'),
            $mensaje = $('div#mensaje'),
            reloj,
            iteracion_reloj = 0,
            recieve_input = false,
            posicion,
            orientacion, //'left','right'
            incorrectas,
            current_game = new ControlGame(game_file),
            score = new ScoreKeeper($("div#puntaje"), game_file.trials.length),
            logger;
        
        
        var player_name = '';
        while(!player_name){
            player_name = prompt('Who are you?');
        }
        $.ajax({url:'{% url get_or_create_player %}',
                async:false,
                data:{'player_name': player_name},
                type:'POST',
                dataType:'json'});
        $.ajax({url:'{% url create_stroop_game %}', async:false, dataType:'json',
                success:function(x){
                         logger = new Logger('{% url save_stroop_game %}', x.game_id);
                }});

        $('#reloj').svg();
        var svg = $('#reloj').svg('get');
        svg.circle(200, 200, 190,{fill: 'none', stroke: '#1B7AE2', 'stroke-width': 8});  // Usamos svg-jquery para dibujar
        var aguja = svg.line(200,200,200,50,{stroke: '#1B7AE2', 'stroke-width': 8,transform: 'rotate(0, 200, 200)'});        

        function presentar_flecha(){
            $flecha.hide();
            posicion = Math.floor(Math.random()*90);
            orientacion = ['right','left'][Math.floor(Math.random()*2)];
            var trial = current_game.current_trial();
            $('img', $flecha).attr({src:"/static/images/"+ trial.kind +'_'+ orientacion +".png"});
            setTimeout(function(){
                $flecha.css("left", posicion + "%" ).show();
                logger.log("presentaFlecha", {"trial":trial, "posicion":posicion,
                                              "orientacion":orientacion, "trial_idx":trial.idx});
                set_juez('#3D3D3D');
                recieve_input = true;
                iteracion_reloj=1;
                reloj = setInterval(function(){
                    aguja.setAttribute("transform","rotate("+Math.round(iteracion_reloj*360/20)+",200,200)");
                    iteracion_reloj++;
                    if (iteracion_reloj>20){
                        current_game.goto_last_checkpoint();
                        score.set_score(current_game.current_trial().idx);
                        presentar_flecha();
                        logger.log("timeOut");
                        clearInterval(reloj);
                        recieve_input = false;
                    }
                },Math.round(trial.time/20));
            }, 500);
        }
    

        function set_juez(color){
            $juez.css("background-color", color);
        }

        function reset(){
            current_game.reset();
            score.reset();
            incorrectas = 0;
            clearInterval(reloj);
            setTimeout(function(){
                presentar_flecha();
                $mensaje.hide();
            },2000);
        }

        function handle_response(e){
            if(e.which == RESTART_KEY){
                reset();
                return;
            }
            if((e.which != LEFT_KEY && e.which != RIGHT_KEY) || !recieve_input){
                return; //Lo dejamos errarle a la tecla tranquilo.
            }
            clearInterval(reloj);
            recieve_input = false;
            var correct = (e.which == LEFT_KEY && orientacion == 'left') ||
                          (e.which == RIGHT_KEY && orientacion == 'right');
            
            correct = (current_game.current_trial().kind == 'forward') ? correct : !correct;
            
            var correctas = current_game.trial_idx();
            if(correct){
                logger.log("respuestaCorrecta", {"correctas":correctas, "incorrectas":incorrectas});
                aguja.setAttribute("transform","rotate(0,200,200)");
                set_juez('#729D1B');

                if(!current_game.next_trial()){
                    show_message($mensaje,'Bien, terminaste todo el juego', reset);
                    score.set_score(current_game.trials.length);
                    return;
                }
                if(current_game.current_trial().checkpoint){
                    show_message($mensaje,'bien boludo bien!!!!!!!');
                }
            }else{
                incorrectas++;
                logger.log("respuestaIncorrecta", {"correctas":correctas, "incorrectas":incorrectas});
                aguja.setAttribute("transform","rotate(0,200,200)");
                set_juez('#C52338');
                if(incorrectas >= current_game.max_incorrectas){
                    current_game.goto_last_checkpoint();
                }
            }
            var trial = current_game.current_trial();
            score.set_score(trial.idx, trial.checkpoint);
            presentar_flecha();
        }

        $(document).keypress(handle_response);
        
        $flecha.append('<img src="#">');
        reset();
    });
</script>

<style type="text/css">
body { 
    margin: 0px;
    overflow:hidden;
    background: #3D3D3D;
    font-family: Helvetica;
}

div#flecha {
    background-color: transparent;
    text-align: center;
    color: #FF0;
    font-size: 50;
    height: 75;
    width: 100;
    position: absolute;
    top: 50%;
    margin-top: -37px;
    left: 100;
}

div#juez {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 10%;
}

div#mensaje {
    display: none;
    width: 1000;
    text-align: center;
    color: #00BBBB;
    font-size: 35;
    height: 100;
    position: absolute;
    left: 50%;
    top: 45%;
    margin-left: -500;
    margin-top: -50;

}
div#reloj{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;

}
div#puntaje{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 10%;
    color:white;
}

div#puntaje{
    background-color: #8018BD;
    width: 0%;
}


</style>
</head>
<body>
<div id="puntaje"></div>
<div id="juez"></div>
<div id="flecha"></div>
<div id="mensaje"><p></p></div>
<div id="reloj"></div>
</body>
</html>

