<html>
<head>
<title>Stroop</title>
<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.svg.package-1.3.2/jquery.svganim.js"></script>
<script type="text/javascript" src="/static/js/jquery.svg.package-1.3.2/jquery.svg.js"></script>
<script type="text/javascript" src="/static/js/JSON.js"></script>
<script type="text/javascript" src="/static/js/logger.js"></script>
<script type="text/javascript">
    function ControlGame(file){
        this.trials = $.map(file.trials, function(obj, idx){ obj.idx = idx; return obj; });

        this.max_incorrectas = file.max_incorrectas;
        var trial_idx = 0,
            checkpoint = 0;

        this.trial_idx = function(){
            return trial_idx;
        }

        this.current_trial = function(){
            return this.trials[trial_idx];
        }

        this.next_trial = function(){
            if(trial_idx+1 < this.trials.length){
                trial_idx++;
                if(this.current_trial().checkpoint){
                    checkpoint = trial_idx;
                }
                return true;
            }else{
                return false;
            }
        }

        this.goto_last_checkpoint = function(){
            trial_idx = checkpoint;
        }
        
        this.reset = function(){
            trial_idx = 0;
            checkpoint = 0;
        }
    }

    function ScoreKeeper($checkpoint_div,$score_div, total_trials){
        this.total_trials = total_trials;
        this.div = $score_div;
        this.set_score = function(current_trial, checkpoint){
            this.div.animate({width: current_trial/this.total_trials * 98 + 2 +"%"}, 300);
            if(checkpoint){
                $checkpoint_div.animate({left:current_trial/this.total_trials * 98 +"%"}, 300);
            }
        }
        this.reset = function(){
            this.div.html('');
            this.set_score(0,true);
        }
    }

    function TimeKeeper($reloj_div){
        this.div = $reloj_div;
        this.recieve_input = false;
        this.div.svg();
        this.svg = this.div.svg('get');
        this.svg.circle(200, 200, 190,{fill: 'none', stroke: '#1B7AE2', 'stroke-width': 8});  // Usamos svg-jquery para dibujar
        this.aguja = this.svg.line(200,200,200,50,{stroke: '#1B7AE2', 'stroke-width': 8,transform: 'rotate(0, 200, 200)'});
 
        this.start_trial = function(time,callback){
            this.recieve_input = true;
             this.iteracion_reloj=0;
            var scope = this;
            function rotar(){
                scope.aguja.setAttribute("transform","rotate("+Math.round(scope.iteracion_reloj*360/20)+",200,200)");
                scope.iteracion_reloj++;
                if (scope.iteracion_reloj>20){
                    clearInterval(scope.reloj_trial);
                    scope.recieve_input = false;
                    return callback();
                    }
            }
            this.reloj_trial = setInterval(rotar,time/20);
        }

        this.set_intertrial = function(reloj_intertrial){
            this.reloj_intertrial = reloj_intertrial;
        }

        this.stop_trial = function(){
            clearInterval(this.reloj_trial);
            this.reloj_intertrial = 0;
            this.recieve_input = false;
            this.aguja.setAttribute("transform","rotate(0,200,200)");
        }

        this.reset = function(time,$reloj_global, callback){
            var scope = this;
            this.recieve_input = false;
            clearInterval(this.reloj_trial);
            this.aguja.setAttribute("transform","rotate(0,200,200)");
            $reloj_global.animate({width: "100%"}, time);
            function terminar(){
                scope.recieve_input = false;
                clearInterval(scope.reloj_trial);
                clearTimeout(scope.reloj_intertrial);
                return callback();
            }
            setTimeout(terminar,time);
        }

    }

    function show_message($div, text, callback){
        $div.html(text).fadeIn();
        setTimeout(function(){
            $div.fadeOut();
            callback && callback();
        },2000);
    }

    
    $(function(){
        var LEFT_KEY = 97,//a
            RIGHT_KEY = 108,//l
            RESTART_KEY = 114,
            $juez = $('div#juez'),
            $flecha = $('div#flecha'),
            $mensaje = $('div#mensaje'),
            iteracion_reloj = 0,
            recieve_input = false,
            posicion,
            orientacion, //'left','right'
            incorrectas,
            logger,
            game_file,
            reloj = new TimeKeeper($('div#reloj')),
            current_game, 
            score;
        
        var player_name = '';
        while(!player_name){
            player_name = prompt('Who are you?');
        }
        $.ajax({url:'{% url get_or_create_player %}',
                async:false,
                data:{'player_name': player_name},
                type:'POST',
                dataType:'json'});
        $.ajax({url:'/static/levels/control_gamefile.txt', async:false, dataType:'json',
                success:function(x){
                         game_file = x;
                }});
        $.ajax({url:'{% url create_stroop_game %}', async:false, dataType:'json',
                success:function(x){
                         logger = new Logger('{% url save_stroop_game %}', x.game_id);
                }});
               
        current_game = new ControlGame(game_file);
        score = new ScoreKeeper($("div#checkpoint"),$("div#puntaje"), game_file.trials.length);

        function presentar_flecha(){
            $flecha.hide();
            posicion = Math.floor(Math.random()*90);
            orientacion = ['right','left'][Math.floor(Math.random()*2)];
            var trial = current_game.current_trial();
            $('img', $flecha).attr({src:"/static/images/"+ trial.kind +'_'+ orientacion +".png"});
            var reloj_intertrial = setTimeout(function(){
                $flecha.css("left", posicion + "%" ).show();
                logger.log("presentaFlecha", {"trial":trial, "posicion":posicion,
                                              "orientacion":orientacion, "trial_idx":trial.idx});
                set_juez('#3D3D3D');
                reloj.start_trial(trial.time,function(){
                        current_game.goto_last_checkpoint();
                        score.set_score(current_game.current_trial().idx);
                        presentar_flecha();
                        logger.log("timeOut");
                });                
            }, 500);
            reloj.set_intertrial(reloj_intertrial);
        }
    

        function set_juez(color){
            $juez.css("background-color", color);
        }

        function reset(){
            current_game.reset();
            score.reset();
            incorrectas = 0;
            reloj.reset(90000,$("div#tiempo_total"),function(){
                show_message($mensaje,'Se termino todo el tiempo...(r)ecomenzar')});
            setTimeout(function(){
                presentar_flecha();
                $mensaje.hide();
            },2000);
        }

        function handle_response(e){
            if(e.which == RESTART_KEY){
                reset();
                return;
            }
            if((e.which != LEFT_KEY && e.which != RIGHT_KEY) || !reloj.recieve_input){
                return; //Lo dejamos errarle a la tecla tranquilo.
            }
            reloj.stop_trial();
            var correct = (e.which == LEFT_KEY && orientacion == 'left') ||
                          (e.which == RIGHT_KEY && orientacion == 'right');
            
            correct = (current_game.current_trial().kind == 'forward') ? correct : !correct;
            
            var correctas = current_game.trial_idx();
            if(correct){
                logger.log("respuestaCorrecta", {"correctas":correctas, "incorrectas":incorrectas});
                set_juez('#729D1B');
               if(!current_game.next_trial()){
                    show_message($mensaje,'El teclado mas rápido del oeste - moron, p. ej-', reset);
                    score.set_score(current_game.trials.length);
                    return;
                }
                if(current_game.current_trial().checkpoint){
                    show_message($mensaje,'Groso, aseguraste puntaje.');
                }
            }else{
                incorrectas++;
                logger.log("respuestaIncorrecta", {"correctas":correctas, "incorrectas":incorrectas});
                set_juez('#C52338');
                if(incorrectas >= current_game.max_incorrectas){
                    current_game.goto_last_checkpoint();
                }
            }
            var trial = current_game.current_trial();
            score.set_score(trial.idx, trial.checkpoint);
            presentar_flecha();
        }

        $(document).keypress(handle_response);
        
        $flecha.append('<img src="#">');
        reset();
    });
</script>

<style type="text/css">
body { 
    margin: 0px;
    overflow:hidden;
    background: #3D3D3D;
    font-family: Helvetica;
}

div#flecha {
    display: none;
    background-color: transparent;
    text-align: center;
    color: #FF0;
    font-size: 50;
    height: 75;
    width: 100;
    position: absolute;
    top: 50%;
    margin-top: -37px;
    left: 100;
}

div#juez {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 10%;
}

div#mensaje {
    display: none;
    width: 1000;
    text-align: center;
    color: #00BBBB;
    font-size: 35;
    height: 100;
    position: absolute;
    left: 50%;
    top: 45%;
    margin-left: -500;
    margin-top: -50;

}
div#reloj{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;

}
div#puntaje{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 5%;
    color:white;
    background-color: #8018BD;
    width: 0%;

}

div#tiempo_total{
    position: absolute;
    top: 5%;
    left: 0%;
    height: 5%;
    color:white;
    background-color: #16A18C;
    width: 0%;

}

div#checkpoint{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 5%;
    background-color: #34104E;
    width: 2%;
}


</style>
</head>
<body>
<div id="puntaje"></div>
<div id="tiempo_total"></div>
<div id="checkpoint"></div>
<div id="juez"></div>
<div id="reloj"></div>
<div id="flecha"></div>
<div id="mensaje"><p></p></div>
</body>
</html>

