<html>
<head>
<title>Stroop</title>
<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.svg.package-1.3.2/jquery.svganim.js"></script>
<script type="text/javascript" src="/static/js/jquery.svg.package-1.3.2/jquery.svg.js"></script>
<script type="text/javascript" src="/static/js/JSON.js"></script>
<script type="text/javascript" src="/static/js/logger.js"></script>
<script type="text/javascript">
    function ControlGame(file){
        this.trials = file;

        var trial_idx = 0,
            tries_idx = 0,
            flecha_idx = 0;

        this.current_arrow = function(){
            var x = this.trials[trial_idx].tries[tries_idx][flecha_idx];
                x.to_checkpoint = this.trials[trial_idx].nro_flechas - flecha_idx; 
            return x;
        }
        this.next_arrow_wrong = function (){
            if (tries_idx + 1 < this.trials[trial_idx].nro_tries){
                tries_idx++;
                flecha_idx = 0;
                return true;
            }else{
                return false;
            }
        }
        this.next_arrow_correct = function(){
            if(flecha_idx+1 < this.trials[trial_idx].nro_flechas){
                flecha_idx++;
                return true;
            }else if (trial_idx+1<this.trials.length){
                trial_idx++;
                flecha_idx = 0;
                tries_idx = 0;
                return true;
            }else{
                return false;
            }
        }
        this.get_total_trials = function(){
            var total_trials = 0,
                i;
            for (i = 0; i< this.trials.length; i++){
                total_trials += this.trials[i].nro_flechas;
            }
            return total_trials;
        }

        this.get_puntaje = function(){
            var x={"puntos":0,"checkpoint":false},
                last_checkpoint = 0;
            for (var i = 0; i< trial_idx; i++){
                last_checkpoint += this.trials[i].nro_flechas;
            }
            x.puntos = last_checkpoint + flecha_idx;
            if (flecha_idx ==0){
                x.checkpoint = true;
            }else{
                x.checkpoint = false;
            }
            return x;
        }
 
        this.reset = function(){
            trial_idx = 0;
            flecha_idx = 0;
            tries_idx = 0;
        }
    }

    function ScoreKeeper($checkpoint_div,$score_div, total_trials){
        var premio = ['klem.png','alf.png','grinberg.png','monica.png','jung.png','chiche.png','bruno.png','calzetta.png'], //provisorio para la version de prueba
            premio_idx = 0;
        this.set_score = function(current_trial, checkpoint){
            $score_div.animate({width: current_trial/total_trials * 98 + 2 +"%"}, 300);
            if(checkpoint){
                $checkpoint_div.animate({left:current_trial/total_trials * 98 +"%"}, 300);
                $("img",$checkpoint_div).attr({src: "/static/images/" + premio[premio_idx]});
                premio_idx++;
            }
        }
        this.reset = function(){
            $score_div.html('');
            premio_idx=0;
            this.set_score(0,true);
        }
    }

    function TimeKeeper($reloj_div){
        this.div = $reloj_div;
        this.recieve_input = false;
        this.div.svg();
        this.svg = this.div.svg('get');
        this.svg.circle(200, 200, 190,{fill: 'none', stroke: '#1B7AE2', 'stroke-width': 8});  // Usamos svg-jquery para dibujar
        this.aguja = this.svg.line(200,200,200,50,{stroke: '#1B7AE2', 'stroke-width': 8,transform: 'rotate(0, 200, 200)'});
 
        this.start_trial = function(time,callback){
            this.recieve_input = true;
             this.iteracion_reloj=0;
            var scope = this;
            function rotar(){
                scope.aguja.setAttribute("transform","rotate("+Math.round(scope.iteracion_reloj*360/20)+",200,200)");
                scope.iteracion_reloj++;
                if (scope.iteracion_reloj>20){
                    clearInterval(scope.reloj_trial);
                    scope.recieve_input = false;
                    return callback();
                    }
            }
            this.reloj_trial = setInterval(rotar,time/20);
        }

        this.set_intertrial = function(reloj_intertrial){
            this.reloj_intertrial = reloj_intertrial;
        }

        this.stop_trial = function(){
            clearInterval(this.reloj_trial);
            this.reloj_intertrial = 0;
            this.recieve_input = false;
            this.aguja.setAttribute("transform","rotate(0,200,200)");
        }

        this.stop_global = function(){
            clearInterval(this.timer_global);
        }


        this.reset = function(time,$reloj_global, callback){
            var i = 0;
            var scope = this;
            this.recieve_input = false;
            this.$reloj_global = $reloj_global;
            clearInterval(this.timer_global);
            clearInterval(scope.reloj_trial);
            clearTimeout(this.reloj_intertrial);
            this.aguja.setAttribute("transform","rotate(0,200,200)");
            this.$reloj_global.animate({width: "0%"},1000);
            
            function animar_global(){
                scope.$reloj_global.css("width", i + "%");
                if (i>100){
                    i =0;
                    clearInterval(scope.timer_global);
                    terminar();
                }
                i++;
            }
            
            function terminar(){
                scope.recieve_input = false;
                clearInterval(scope.reloj_trial);
                clearTimeout(scope.reloj_intertrial);
                return callback();
            }
            this.timer_global = setInterval(animar_global,time/100);
        }

    }

    function show_message($div, text, callback){
        $div.html(text).fadeIn();
        setTimeout(function(){
            $div.fadeOut();
            callback && callback();
        },3000);
    }

// ________________________________ACA EMPIEZA__________________________________    
    $(function(){
        var LEFT_KEY = 97,//a
            RIGHT_KEY = 108,//l
            RESTART_KEY = 114,
            $juez = $('div#juez'),
            $flecha = $('div#flecha'),
            $mensaje = $('div#mensaje'),
            iteracion_reloj = 0,
            logger,
            //game_file,
            reloj = new TimeKeeper($('div#reloj')),
            current_game,
            tabla, 
            score;
        
        var player_name = '';
        while(!player_name){
            player_name = prompt('Who are you?');
        }
        $.ajax({url:'{% url get_or_create_player %}',
                async:false,
                data:{'player_name': player_name},
                type:'POST',
                dataType:'json'});
        $.ajax({url:'/static/levels/control/control_gamefile'+Math.floor(Math.random()*7)+'.txt', async:false, dataType:'json',
                success:function(x){
                        game_file = x;
                }});

        $.ajax({url:'{% url create_stroop_game %}', async:false, dataType:'json',
                success:function(x){
                         logger = new Logger('{% url save_stroop_game %}', x.game_id);
                }});
               
        current_game = new ControlGame(game_file);
        score = new ScoreKeeper($("div#checkpoint"),$("div#puntaje"), current_game.get_total_trials());

        function presentar_flecha(){
            $flecha.hide();
            var arrow = current_game.current_arrow();
            $('img', $flecha).attr({src:"/static/images/"+ arrow.kind +'_'+ arrow.orientacion +".png"});
            var reloj_intertrial = setTimeout(function(){
                $flecha.css("left", arrow.posicion + "%" ).show();
                logger.log("presentaFlecha", {"flecha":arrow});
                set_juez('#3D3D3D');
                reloj.start_trial(arrow.time,function(){
                        set_juez('#C52338');
                        logger.log("timeOut");
                        if (!current_game.next_arrow_wrong()){
                            fin(current_game.get_puntaje().puntos);
                            return;
                        }
                        score.set_score(current_game.get_puntaje().puntos);
                        presentar_flecha();
                });                
            }, 500);
            reloj.set_intertrial(reloj_intertrial);
        }
        
        function fin(puntos){
        	var premio = ['klem.png','alf.png','grinberg.png','monica.png','jung.png','chiche.png','bruno.png','calzetta.png'] // provisorio
            show_message($mensaje,'Erraste demasiadas veces');
            reloj.stop_global();
            $.ajax({url:'{% url save_stroop_score %}',
                async:false,
                type:'POST',
                data:{'score': puntos},
                dataType:'json'});
	       
	       $.ajax({url:'{% url get_stroop_score %}', async:false, dataType:'json',
                success:function(response){
                        tabla = response.x;
                }});
                
            //console.log("la tabla ", tabla);
            tabla.reverse();
             
            for (i=0; i<=6; i++){
            	$('img','th:eq('+(3*i+3)+')').attr({"src":"/static/images/"+premio[Math.floor(tabla[i].stroop_score/20)]});
            	//console.log("el numero de preimio: ", Math.floor(tabla[i].stroop_score/30));
            	$('th:eq('+(3*i+4)+')').text(tabla[i].stroop_score);
            	$('th:eq('+(3*i+5)+')').text(tabla[i].name);
            }
            $("div#highscore").show(2000);
            
        }

        function set_juez(color){
            $juez.css("background-color", color);
        }

        function reset(){
            current_game.reset();
            score.reset();
            reloj.reset(160000,$("div#tiempo_total"),function(){
                show_message($mensaje,'Se termino todo el tiempo...(r)ecomenzar');
                logger.log("finJuego",{"puntaje": current_game.get_puntaje().puntos});
                fin(current_game.get_puntaje().puntos);
                });
            $("div#highscore").hide();    
            setTimeout(function(){
                presentar_flecha();
                $mensaje.hide();
            },2000);
        }

        function handle_response(e){
            if(e.which == RESTART_KEY){
                reset();
                return;
            }
            if((e.which != LEFT_KEY && e.which != RIGHT_KEY) || !reloj.recieve_input){
                return; //Lo dejamos errarle a la tecla tranquilo.
            }
            reloj.stop_trial();
            var arrow = current_game.current_arrow(),
                puntaje,
                correct = (e.which == LEFT_KEY && arrow.orientacion == 'left') ||
                          (e.which == RIGHT_KEY && arrow.orientacion == 'right');
            
            correct = (arrow.kind == 'forward') ? correct : !correct;
            if(correct){
                var next = current_game.next_arrow_correct();
                puntaje = current_game.get_puntaje();
                logger.log("respuestaCorrecta", {"puntos": puntaje.puntos,"dist_to_checkpoint":arrow.to_checkpoint});
                set_juez('#729D1B');
               if(!next){
                    show_message($mensaje,'El teclado mas rápido del oeste - moron, p. ej-', reset);
                    score.set_score(current_game.get_total_trials());
                    return;
                }
                if(puntaje.checkpoint){
                    show_message($mensaje,'Groso, aseguraste puntaje.');
                }
            }else{
                var next = current_game.next_arrow_wrong();
                puntaje = current_game.get_puntaje();
                puntaje.checkpoint= false;
                logger.log("respuestaIncorrecta", {"puntos": puntaje.puntos,"dist_to_checkpoint":arrow.to_checkpoint});
                set_juez('#C52338');
                if (!next){
                    fin(puntaje.puntos);
                    return;
                }
            }
            score.set_score(puntaje.puntos, puntaje.checkpoint);
            presentar_flecha();
        }

        $(document).keypress(handle_response);
        
        $flecha.append('<img src="#">');
        reset();
    });
</script>

<style type="text/css">
body { 
    margin: 0px;
    overflow:hidden;
    background: #3D3D3D;
    font-family: Helvetica;
}

div#flecha {
    display: none;
    background-color: transparent;
    text-align: center;
    color: #FF0;
    font-size: 50;
    height: 75;
    width: 100;
    position: absolute;
    top: 50%;
    margin-top: -37px;
    left: 100;
}

div#juez {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 10%;
}

div#mensaje {
    display: none;
    width: 1000;
    text-align: center;
    color: #00BBBB;
    font-size: 35;
    height: 100;
    position: absolute;
    left: 50%;
    top: 45%;
    margin-left: -500;
    margin-top: -50;

}
div#reloj{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;

}
div#puntaje{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 10%;
    color:white;
    background-color: #8018BD;
    width: 0%;

}

div#tiempo_total{
    position: absolute;
    top: 95%;
    left: 0%;
    height: 5%;
    color:white;
    background-color: #16A18C;
    width: 0%;

}

div#checkpoint{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 10%;
    background-color: #34104E;
    width: 2%;
}

div#highscore{
	display: none;
    position: absolute;
    top: 5%;
    left: 50%;
    height: 90%;
    background-color: transparent;
    width: 50%;
    height: 60%;
    margin-left: -25%;
}
th {
	font: bold 18px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	color: #6D929B;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 3px;
	text-transform: uppercase;
	text-align: center;
	padding: 1px 1px 1px 2px;
	background: #CAE8EA;
}

th.nobg {
	color: #E79978;
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: #FBDDD1;
}

</style>
</head>
<body>
<div id="puntaje"></div>
<div id="juez"></div>
<div id="checkpoint"><img style ="margin-left:-10px; margin-top:10px" src="/static/images/klem.png"></div>
<div id="tiempo_total"></div>
<div id="reloj"></div>
<div id="flecha"></div>
<div id="mensaje"><p></p></div>
<div id="highscore" align="center"><table>
                        <tr>
                        	<th class="nobg"> Puesto </th>
                            <th class="nobg"> Puntos </th>
                            <th class="nobg"> El kia </th>
                        </tr>
                        <tr>
                            <th> 1º <img src=""></th>
                            <th>0</th>
                            <th> Carlos Alberto Diaz </th>
                        </tr>
                        <tr>
                            <th> 2º <img src=""></th>
                            <th>0</th>
                            <th> Pepe2 </th>
                        </tr>
                        <tr>
                            <th> 3º <img src=""></th>
                            <th>0</th>
                            <th> Pepe2 </th>
                        </tr>
                        <tr>
                            <th> 4º <img src=""></th>
                            <th>0</th>
                            <th> Pepe2 </th>
                        </tr>
                        <tr>
                            <th> 5º <img src=""></th>
                            <th>0</th>
                            <th> Pepe2 </th>
                        </tr>
                        <tr>
                            <th> 6º <img src=""></th>
                            <th>0</th>
                            <th> Pepe2 </th>
                        </tr>
                        <tr>
                            <th> 7º <img src=""></th>
                            <th>0</th>
                            <th> Pepe2 </th>
                        </tr>
                    </table></div>
</body>
</html>

